.rdp-day:hover {
  color: darkmagenta !important;
  background-color: rgb(253, 166, 245) !important;
}

.rdp-day {
  color: white !important;
}


.rdp-head_cell {
  color: white !important;
}

.rdp-caption_label { color: white !important; }

.my-selected:not([disabled]) { 
  font-weight: bold; 
  border: 2px solid white;
}

.my-today { 
  font-weight: bold;
  font-size: 110%; 
  color: white !important;
}

