.main-pagos {
    background: linear-gradient(90deg, rgba(43, 18, 40, 1) 0%, rgba(69, 15, 63, 1) 35%, rgba(113, 5, 97, 1) 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 1rem;
    height: 832px;
}

.pill {
    background: transparent linear-gradient(271deg, #851414 0%, #613546 100%);
    border: 1px solid transparent;
    border-radius: 20px;
    opacity: 1;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
}

.pill-font {
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 1rem;
}

.pill-title {
    text-align: left;
    font: normal normal bold 25px/30px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .main-pagos {
        padding: 1rem;
    }
    
    .pill {
        width: 100%;
    }
    
    .pill-font {
        font-size: 16px;
    }
    
    .pill-title {
        font-size: 20px;
    }
}
