.main-pagos {
    background: linear-gradient(90deg,
      rgba(101, 42, 95, 0.626) 0%,
      rgba(130, 29, 118, 0.61) 35%,
      rgba(189, 7, 162, 0.621) 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 1rem;
}

.pill {
    background: #851414;
    border: 1px solid transparent;
    border-radius: 20px;
    opacity: 1;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
}

.pill-font {
    text-align: left;
    color: #FFFFFF;
    margin-left: 1rem;
}

.pill-title {
    text-align: left;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 25px !important;
}

.button-paid{
    border-radius: 25%;
    background: green;
    border-color: white;
}



@media (max-width: 768px) {
    .main-pagos {
        padding: 1rem;
    }
    
    .pill {
        width: 100%;
    }
    
    .pill-font {
        font-size: 16px;
    }
    
    .pill-title {
        font-size: 20px;
    }
}
