.sidebar{
    position: absolute;
    top: 100;
    left:0;
    width: 200px; 
    height: 100%;
    z-index: 998;
    background-color: #17171f;
    
 /*
    color: #fff;
    transition: all 0.6s; */
}

.dashboard, .students, .subjects, .profile, .settings, .documents, .arrow-left, .arrow-right {

    display:flex;
    align-items: center;
    flex-direction: row;
    font-size:large;
    color:white;
    cursor:pointer;
    &:hover{
        color:#A3A3FF;
        
    }
}




