.sidebar{
    width: fit-content; 
    height: fit-content;
    z-index: 999;
    background-color: #A3A3FF;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    
    color: #fff;
    transition: all 0.3s;
}

