.separator {
    height: 60px;
    background: transparent linear-gradient(271deg, #0C2FA8 -10%, #801480 51%);
    border: 1px;
    opacity: 1;
    /* UI Properties */
    text-align: left;
    font: normal normal 100 18px/22px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.dashboard-wrapper{
    width: 95%;
    float: right;
    margin: 0px;
}

.row{
    margin: 0;
    width: 100%;
}