.separator {
    height: 60px;
    background: linear-gradient(90deg, rgba(43, 18, 40, 1) 0%, rgba(69, 15, 63, 1) 35%, rgba(113, 5, 97, 1) 100%);
    border: 1px;
    opacity: 1;
    /* UI Properties */
    text-align: left;
    font: normal normal 100 18px/22px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
/* .dashboard-wrapper{
    width: auto;
    float: left;  
} */

.row{
    margin: 0;
    width: 100%;
}


.main-calendar {
    background: linear-gradient(90deg, rgba(43, 18, 40, 1) 0%, rgba(69, 15, 63, 1) 35%, rgba(113, 5, 97, 1) 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 1rem;
}