.separator {
    height: 60px;
    background: linear-gradient(90deg,
      rgba(101, 42, 95, 0.626) 0%,
      rgba(130, 29, 118, 0.61) 35%,
      rgba(189, 7, 162, 0.621) 100%);
    border: 1px;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size: 25px;
}


.row{
    margin: 0;
    width: 100%;
}


.main-calendar {
    background: linear-gradient(90deg,
      rgba(101, 42, 95, 0.626) 0%,
      rgba(130, 29, 118, 0.61) 35%,
      rgba(189, 7, 162, 0.621) 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 1rem;
}