@import "/src/front/js/component/navbar/navbar.scss";
@import "/src/front/js/component/footer/footer.scss";
@import "/src/front/js/component/sidebar/sidebar.scss";
@import "/src/front/js/component/loader/loader.scss";



html{
    height:100%;
}

body{
    background-color: #17171f ;
    height:100%
}

.container{
    margin:0 206.77px;
    
}

