@import "/src/front/js/component/navbar/navbar.scss";
@import "/src/front/js/component/footer/footer.scss";
@import "/src/front/js/component/sidebar/sidebar.scss";
@import "/src/front/js/component/loader/loader.scss";



html{
    height:100%;
}

body{
    background-color: #282833 ;
    height:100%;
    margin:0;
    overflow-x: hidden;
}

.container{
    margin:0 206.77px;
    
}

