.profile-wrapper{
    width:fit-content;
    border-radius: 20px;
    color:white;
   background:linear-gradient(90deg,
    rgba(78,41,78) 0%,
      
      rgba(131,19,119) 100%); 
}

.tag, .profile{
    font-weight: 500;
    margin-top: 0;
    margin-bottom:0;

}
p{
    margin-top:0;
    margin-bottom:0;
}

.passwordForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:280px;
}



.fa-pen-to-square:hover, .password:hover, .fa-floppy-disk:hover{
        color: #A3A3FF;
        cursor:pointer;
}
.fa-xmark, .fa-backward{
    cursor:pointer;
}

.profile-input{
    border:none;
    background:none;
    width:80px;
    
    &:focus{
        outline:none;
        border-bottom:1px;
        width:150px;
        color:white
        
    }



    &::placeholder{
        color:rgb(180, 170, 175);
    }
}

 .profile-data{
    height:50px;

} 