.subject {
    top: 156px;
    left: 295px;
    width: 291px;
    height: 275px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
}

.subject-img {}

.subject-wrapper {
    top: 156px;
    left: 295px;
    width: 291px;
    height: 104px;
    overflow: hidden;
}

.subject-text {
    /* Layout Properties */
    top: 290px;
    left: 321px;
    width: 241px;
    height: 109px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 18px/22px Helvetica Neue;
    letter-spacing: 0px;
    color: #5A5A5A;
    opacity: 1;
    padding: 1.5rem;
    line-height: 0.5;
}

.subject-button {
    /* Layout Properties */
    top: 392px;
    left: 295px;
    height: 39px;
    /* UI Properties */
    background: transparent linear-gradient(271deg, #801480 0%, #0C2FA8 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 6px;
    opacity: 1;

    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    margin-top: 2rem;
}

.card-subject {
    width: 18rem;
    margin-left: 2rem;
}

.row>* {
    padding-right: 0px !important;
    padding-left: 0px !important;
}