

.navtop{

    font-family:"Poppins", sans-serif;
    background-color: #17171F;
    height: 6rem;   
    position:relative;
    z-index:999
}

.navbar-brand{
    color:rgb(171, 10, 147);
}
.nav-p{
    display: flex;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;

    &:hover{
        color: rgb(171, 10, 147);;
        
    }
}
.user-name{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    color:white;
    align-items: center;
    padding-right: 20px;
}
