

.navtop{

    font-family:"Poppins", sans-serif;
    background-color: #17171F;
    height: 3rem;   
}

.navbar-brand{
    color:#A3A3FF
}
.nav-p{
    display: flex;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;

    &:hover{
        color: #A3A3FF;
        
    }
}
.user-name{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    color:white;
    font-size:smaller;
    align-items: center;
}
